@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background-color: rgb(236, 235, 209);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

header{
    background-color:#98ca76;
    width: 100%;
   
}

.container{
    padding: 5px;
   
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 280px;
}

header ul{
    list-style: none;
}


header ul li{
    display: inline-block;
    margin: 0 40px;
 
}

header ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

nav a:hover, nav a.active{
    border-bottom: 2px solid #427023;
    color: #427023;
    transition: 0.1s;
}

.btn-login{
    display: flex;
    width: 14%;
    justify-content: space-between;
    padding: 25px;
}

.btn-login button{
    border: none;
    text-decoration: none;
    width: 100px;
    height: 45px;
    border-radius: 20px;
    font-size: 15px;
}

.login-btn button{
    background-color: #5699299a;
    color: #fff;
    font-family: Poppins;
}
   


.login-btn button:hover{
    background-color:  #fff;
    color: #569929;
}


.enter-btn button{
    background-color: #56992900;
    border: 2px solid #fff;
    color: #fff;
    font-family: Poppins;
}



@media (max-width: 700px){
    
}
