<div class="footer-bringerdown"></div>
<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <h2>Reverdecer</h2>
            <p>
            <h3>Gerenciamento de <br>
                resíduos sustentáveis </h3>
            </p>
        </div>

        <div class="footer-links">
            <h2>Links úteis</h2>
            <ul>
                <li>
                    <h3><a href="index.php#saiba-mais">Sobre nós</a></h3>
                </li>
                <li>
                    <h3><a href="user.php">Serviços</a></h3>
                </li>
                <li>
                    <h3><a href="feedback.php">Feedback</a></h3>
                </li>
            </ul>
        </div>

        <div class="footer-contato">
            <h2>Contato</h2>
            <h3>+55 (18) 99777-0741</h3>
            <h3>grupo_03@portalsesisp.org.br</h3>
            <h3>Rua Felicio Tarabai, 59, Paraguaçu Paulista - SP</h3>   
        </div>
    </div>

    <div class="footer-bottom">
        <p>
            <h3>&copy; 2025 Reverdecer. Todos os direitos reservados.</h3>
        </p>
    </div>
</footer>